# git ignore file

# don't care files
__pycache__/*
util/__pycache__/*
data_util/__pycache__/*
model/__pycache__/*
.ipynb_checkpoints/*

# data files
swat_data/*
swat_lable.csv
data/*

# log files
log/*

# packages


