pip install pandas
pip install scipy
pip install sklearn
pip install matplotlib
pip install wget
pip install torch torchvision
pip install pytorch-nlp
pip install transformers
pip install sentence-transformers
pip install cmake
pip install MulticoreTSNE
